body {
  --uno: bg-basecolor text-basecolor;
}

.hidden-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.hidden-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
